.cardBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;

    height: 600px;
    width: 450px !important;

    background-color: #000000 !important;        
    border: 3px solid #333 !important;
    margin: 1%;

    padding: 0.7rem;
}

.card-img{
    margin-top: 5%;
}

.card-body{
    margin-top: 10%;
}

